DB.PORT=5432
DB.LOCAL_PATH=/home/
DB.HOST=postgreselephant.postgres.database.azure.com
DB.URL=postgreselephant.postgres.database.azure.com
DB.NAME=postgres
DB.USERNAME=postgres
DB.PASSWORD=Pa$$word1234
DB.OS_USER=root

APP.URL=http://127.0.0.1:7000
APP.PORT=7000

EMAIL.HOST=smtp.gmail.com
EMAIL.PORT=465
EMAIL.FROM=service-mail@gmail.com
EMAIL.PASSWORD=my-secret-password
EMAIL.USER=service-mail@gmail.com
EMAIL.SSL=true

DEFAULT_LANG=EN
ENV=PRODUCTION
